@import '../../../styles/variables';
@import '../../../styles/mixins.scss';


.container{
    @include border-radius(1rem);
    background-color: $color-primary;
    width: 98%;
    margin: 1%;

    .title{
        padding: 1rem;
    }

    .table{
        font-size: 0.9rem;
        width: 98%;

        thead {
            text-align: left;
            color: $color-secondary;
            font-weight: bold;

            th {
                padding: 0.8rem;
                border-bottom: 0.1rem solid $color-border;
               
            }
        }
        tbody {

            td {
                padding: 1rem;
                border-bottom: 0.1rem solid $color-border;
            }
        }
    }
}