@import '../../../styles/variables';

.container{
    .table{
        margin: 1%;
        background-color: $color-primary;
        font-size: 0.9rem;
        width: 98%;

        thead {
            text-align: left;
            color: $color-secondary;
            font-weight: bold;

            th {
                padding: 0.8rem;
                border-bottom: 0.1rem solid $color-border;
               
            }
        }
        tbody {

            td {
                padding: 1rem;
                border-bottom: 0.1rem solid $color-border;
                &:nth-child(2) {
                    width: 28rem;
                }     
            }
        }
    }
}