@import '../../../styles/variables';
@import '../../../styles/mixins.scss';


.nav{
    @include box-shadow();
    margin-left: 17%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary;

    .items{
        display: flex;
        gap: 1rem;

        .title{
            font-size: 1.7rem;
            font-weight: 900;
        }

        .infoUser{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .image{
                width: 2.25rem;
                height: 2.25rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }

    }
}