@import '.../../../../../../styles/variables';
@import '.../../../../../../styles/mixins.scss';


.containerForm {
    @include border-radius(0.5rem);
    @include box-shadow();
    margin: 5% auto; 
    width: 34%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary;

    .headerForm {
        text-align: center;

        .title{
            font-weight: bold;
            margin: 0.7rem;
        }

        .paragraph{
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }
    }

    .footerForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin: 1.5rem;
        font-size: 1rem;

        .link{
            text-decoration: none;
            color: $color-blue;
            margin: 0.5rem;
        }
    }
   
    .form {
        font-weight: bold;
    }
}

